{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
        {% include "components/navbar.html.twig" %}

  <div class="tilcaption">
  
    <h1 class="titles text-left">{{recipe.name}}</h1>
    <div class="titles2 text-left">

      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    
    </div>  
    <h5 class="titles8 text-center">Time: {{recipe.cookTime}} min</h5>
    
    <div class="tilleft">
      <div class="tilimg">
        <img class="soorc" src="{{asset('pictures/' ~ recipe.picture)}}">
      </div>
    </div>
     
  </div>

  <div class="container">
    
    <div class="row justify-content-center">
    <div class="col-4">
        <h1 class="text-center nsl ev lnko"><a class="lnko"  href="{{ path('app_recipes_user_index') }}">Back to list</a></h1>
    </div>
    

    <div class="col-4">
        <h1 class="text-center nsl ev lnko"><a class="lnko" href="{{ path('app_recipes_user_edit', {'id': recipe.id}) }}">Edit</a></h1>
    </div>
    

    <div class="col-4">
        <h1 class="text-center nsl ev lnko">{{ include('recipes_user/_delete_form.html.twig') }}</h1>
    </div>
    
    

    </div> 

  </div>

    
    
    

    
  






{% endblock %}
